.cursor {
    width: 18px;
    height: 18px;
    background: var(--color-primary);
    opacity: 0.8;
    border-radius: 100%;
    position: absolute;
    z-index: 30;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: all 0.05s ease-out;

    &.hover {
        background: var(--color-primary);
        opacity: 1;
    }

    &.down {
        width: 12px;
        height: 12px;
        background: var(--color-primary);
        opacity: 1;
    }

}

.cursor-light {
    width: 18px;
    height: 18px;
    background: turquoise;
    opacity: 0.8;
    border-radius: 100%;
    position: absolute;
    z-index: 30;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: all 0.05s ease-out;

    &.hover {
        background: cyan;
        opacity: 1;
    }

    &.down {
        width: 12px;
        height: 12px;
        background: cyan;
        opacity: 1;
    }

}

.cursor-dark {
    width: 18px;
    height: 18px;
    background: var(--color-black);
    opacity: 0.5;
    border-radius: 100%;
    position: absolute;
    z-index: 30;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: all 0.05s ease-out;

    &.hover {
        background: var(--color-black);
        opacity: 1;
    }

    &.down {
        width: 12px;
        height: 12px;
        background: var(--color-black);
        opacity: 1;
    }

}



.split__section summary {
    cursor: none;
}
