{% include '_partials/_header.html' %}
    

        <!-- Zone header -->
     <header class="header__demo" data-component="Header">
        <a href="#" class="header__brand__demo">
            <img src="assets/images/logo-timtools.svg" alt="TimTools" />
        </a>
        <nav class="nav-primary">
            <ul>
                <li>
                    <a href="#" class="nav-primary__item">Menu 1</a>
                </li>
                <li>
                    <a href="#" class="nav-primary__item">Menu 2</a>
                </li>
                <li class="nav-right">
                    <a href="#" class="nav-primary__item">Menu 3</a>
                </li>
                <li>
                    <a href="#" class="nav-primary__item">Menu 4</a>
                </li>
            </ul>
        </nav>
        <button class="header__toggle__demo js-toggle">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </header>

    <section class="split">

    <nav class="split__nav">
        <a href="index.html" class="brand">
            <img src="assets/images/logo-timtools-invert.svg" alt="logo de timtools" />
        </a>
        <ul>
            <li>
                <a href="header.html" class="back">
                    <svg class="icon">
                        <use xlink:href="#icon-arrow-left"></use>
                    </svg>
                    Retour
                </a>
            </li>
            <p>Suivez les instructions afin de voir les résultats</p>
        </ul>
    </nav>

    <div class="split__content">
        <h1>Page d'exemple du header</h1>
        <li>appui sur 'F12' pour ouvrir la console puis teste-le à la version mobile!</li>
        <li>défile vers le bas de la page afin de voir l'animation du 'header' disparaître</li>
        <li>défile vers le haut de la page afin de voir l'animation du 'header' apparaître</li>
        <br>
        <h1>Page d'exemple du header</h1>
        <li>appui sur 'F12' pour ouvrir la console puis teste-le à la version mobile!</li>
        <li>défile vers le bas de la page afin de voir l'animation du 'header' disparaître</li>
        <li>défile vers le haut de la page afin de voir l'animation du 'header' apparaître</li>
        <br>
        <h1>Page d'exemple du header</h1>
        <li>appui sur 'F12' pour ouvrir la console puis teste-le à la version mobile!</li>
        <li>défile vers le bas de la page afin de voir l'animation du 'header' disparaître</li>
        <li>défile vers le haut de la page afin de voir l'animation du 'header' apparaître</li>
        <br>
        <h1>Page d'exemple du header</h1>
        <li>appui sur 'F12' pour ouvrir la console puis teste-le à la version mobile!</li>
        <li>défile vers le bas de la page afin de voir l'animation du 'header' disparaître</li>
        <li>défile vers le haut de la page afin de voir l'animation du 'header' apparaître</li>
        <br>
        <h1>Page d'exemple du header</h1>
        <li>appui sur 'F12' pour ouvrir la console puis teste-le à la version mobile!</li>
        <li>défile vers le bas de la page afin de voir l'animation du 'header' disparaître</li>
        <li>défile vers le haut de la page afin de voir l'animation du 'header' apparaître</li>
        <br>
        <h1>Page d'exemple du header</h1>
        <li>appui sur 'F12' pour ouvrir la console puis teste-le à la version mobile!</li>
        <li>défile vers le bas de la page afin de voir l'animation du 'header' disparaître</li>
        <li>défile vers le haut de la page afin de voir l'animation du 'header' apparaître</li>
        <br>
        <h1>Page d'exemple du header</h1>
        <li>appui sur 'F12' pour ouvrir la console puis teste-le à la version mobile!</li>
        <li>défile vers le bas de la page afin de voir l'animation du 'header' disparaître</li>
        <li>défile vers le haut de la page afin de voir l'animation du 'header' apparaître</li>
        <br>
        <h1>Page d'exemple du header</h1>
        <li>appui sur 'F12' pour ouvrir la console puis teste-le à la version mobile!</li>
        <li>défile vers le bas de la page afin de voir l'animation du 'header' disparaître</li>
        <li>défile vers le haut de la page afin de voir l'animation du 'header' apparaître</li>
        <br>
        <h1>Page d'exemple du header</h1>
        <li>appui sur 'F12' pour ouvrir la console puis teste-le à la version mobile!</li>
        <li>défile vers le bas de la page afin de voir l'animation du 'header' disparaître</li>
        <li>défile vers le haut de la page afin de voir l'animation du 'header' apparaître</li>
        <br>
        <h1>Page d'exemple du header</h1>
        <li>appui sur 'F12' pour ouvrir la console puis teste-le à la version mobile!</li>
        <li>défile vers le bas de la page afin de voir l'animation du 'header' disparaître</li>
        <li>défile vers le haut de la page afin de voir l'animation du 'header' apparaître</li>
        <br>
        <h1>Page d'exemple du header</h1>
        <li>appui sur 'F12' pour ouvrir la console puis teste-le à la version mobile!</li>
        <li>défile vers le bas de la page afin de voir l'animation du 'header' disparaître</li>
        <li>défile vers le haut de la page afin de voir l'animation du 'header' apparaître</li>
        <br>

    </div>
    
        
    
    
    </section>

    

   


    <div class="cursor" data-component="Cursor"></div>




    
     
{% include '_partials/_footer.html' %}