{% include '_partials/_header.html' %}

<section class="split">

    <nav class="split__nav">
        <a href="index.html" class="brand">
            <img src="assets/images/logo-timtools-invert.svg" alt="logo de timtools" />
        </a>
        <ul>
            <li>
                <a href="scrolly.html" class="back">
                    <svg class="icon">
                        <use xlink:href="#icon-arrow-left"></use>
                    </svg>
                    Retour
                </a>
            </li>
            <li><a href="#ffbottom">'Flip' vers le bas</a></li>
            <li><a href="#fftop">'Flip' vers le haut</a></li>
            <li><a href="#fright">vers la droite</a></li>
            <li><a href="#ftop">vers le haut</a></li>
            <li><a href="#fbottom">vers le bas</a></li>
            <li><a href="#fleft">vers la gauche</a></li>

        </ul>
    </nav>

    <div class="site-container split__content" data-component="Scrolly">

        <div class="zoneVide" >
            <h2>Défiler vers le bas pour basculer chaque animation</h2>
            <li>Appuyez sur la touche 'F5' afin de raffraîchir la page et de recommencer les animations!</li>
        </div>

            <h2 class="section__title" data-scrolly="flipFromBottom" id="ffbottom">
                Une grille qui « flip » à partir du bas
            </h2>

            <div class="cards">
                <article class="card" data-scrolly="flipFromBottom">1</article>
                <article class="card" data-scrolly="flipFromBottom">2</article>
                <article class="card" data-scrolly="flipFromBottom">3</article>
                <article class="card" data-scrolly="flipFromBottom">4</article>
                <article class="card" data-scrolly="flipFromBottom">5</article>
                <article class="card" data-scrolly="flipFromBottom">6</article>
                <article class="card" data-scrolly="flipFromBottom">7</article>
                <article class="card" data-scrolly="flipFromBottom">8</article>
                <article class="card" data-scrolly="flipFromBottom">9</article>
                <article class="card" data-scrolly="flipFromBottom">10</article>
                <article class="card" data-scrolly="flipFromBottom">11</article>
                <article class="card" data-scrolly="flipFromBottom">12</article>
            </div>

            <h2 class="section__title" data-scrolly="flipFromTop" id="fftop">
                Une grille qui « flip » à partir du haut
            </h2>

            <div class="cards">
                <article class="card" data-scrolly="flipFromTop">1</article>
                <article class="card" data-scrolly="flipFromTop">2</article>
                <article class="card" data-scrolly="flipFromTop">3</article>
                <article class="card" data-scrolly="flipFromTop">4</article>
                <article class="card" data-scrolly="flipFromTop">5</article>
                <article class="card" data-scrolly="flipFromTop">6</article>
                <article class="card" data-scrolly="flipFromTop">7</article>
                <article class="card" data-scrolly="flipFromTop">8</article>
                <article class="card" data-scrolly="flipFromTop">9</article>
                <article class="card" data-scrolly="flipFromTop">10</article>
                <article class="card" data-scrolly="flipFromTop">11</article>
                <article class="card" data-scrolly="flipFromTop">12</article>
            </div>

            <h2 class="section__title" data-scrolly="fromRight" id="fright">
                Une grille qui bascule vers la droite
            </h2>

            <div class="cards">
                <article class="card" data-scrolly="fromRight">1</article>
                <article class="card" data-scrolly="fromRight">2</article>
                <article class="card" data-scrolly="fromRight">3</article>
                <article class="card" data-scrolly="fromRight">4</article>
                <article class="card" data-scrolly="fromRight">5</article>
                <article class="card" data-scrolly="fromRight">6</article>
                <article class="card" data-scrolly="fromRight">7</article>
                <article class="card" data-scrolly="fromRight">8</article>
                <article class="card" data-scrolly="fromRight">9</article>
                <article class="card" data-scrolly="fromRight">10</article>
                <article class="card" data-scrolly="fromRight">11</article>
                <article class="card" data-scrolly="fromRight">12</article>
            </div>

            <h2 class="section__title" data-scrolly="fromTop" id="ftop">
                Une grille qui bascule vers le haut
            </h2>

            <div class="cards">
                <article class="card" data-scrolly="fromTop">1</article>
                <article class="card" data-scrolly="fromTop">2</article>
                <article class="card" data-scrolly="fromTop">3</article>
                <article class="card" data-scrolly="fromTop">4</article>
                <article class="card" data-scrolly="fromTop">5</article>
                <article class="card" data-scrolly="fromTop">6</article>
                <article class="card" data-scrolly="fromTop">7</article>
                <article class="card" data-scrolly="fromTop">8</article>
                <article class="card" data-scrolly="fromTop">9</article>
                <article class="card" data-scrolly="fromTop">10</article>
                <article class="card" data-scrolly="fromTop">11</article>
                <article class="card" data-scrolly="fromTop">12</article>
            </div>

            <h2 class="section__title" data-scrolly="fromBottom" id="fbottom">
                Une grille qui bascule vers le bas
            </h2>

            <div class="cards">
                <article class="card" data-scrolly="fromBottom">1</article>
                <article class="card" data-scrolly="fromBottom">2</article>
                <article class="card" data-scrolly="fromBottom">3</article>
                <article class="card" data-scrolly="fromBottom">4</article>
                <article class="card" data-scrolly="fromBottom">5</article>
                <article class="card" data-scrolly="fromBottom">6</article>
                <article class="card" data-scrolly="fromBottom">7</article>
                <article class="card" data-scrolly="fromBottom">8</article>
                <article class="card" data-scrolly="fromBottom">9</article>
                <article class="card" data-scrolly="fromBottom">10</article>
                <article class="card" data-scrolly="fromBottom">11</article>
                <article class="card" data-scrolly="fromBottom">12</article>
            </div>

            <h2 class="section__title" data-scrolly="fromLeft" id="fleft">
                Une grille qui bascule vers la gauche
            </h2>

            <div class="cards">
                <article class="card" data-scrolly="fromLeft">1</article>
                <article class="card" data-scrolly="fromLeft">2</article>
                <article class="card" data-scrolly="fromLeft">3</article>
                <article class="card" data-scrolly="fromLeft">4</article>
                <article class="card" data-scrolly="fromLeft">5</article>
                <article class="card" data-scrolly="fromLeft">6</article>
                <article class="card" data-scrolly="fromLeft">7</article>
                <article class="card" data-scrolly="fromLeft">8</article>
                <article class="card" data-scrolly="fromLeft">9</article>
                <article class="card" data-scrolly="fromLeft">10</article>
                <article class="card" data-scrolly="fromLeft">11</article>
                <article class="card" data-scrolly="fromLeft">12</article>
            </div>
            

    </div>

</section>

<div class="cursor" data-component="Cursor"></div>

{% include '_partials/_footer.html' %}